doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Playground
    link(rel="stylesheet", href="css/styles.css")
  body
    h1 Playground Test
    script(type="text/javascript", src="js/scripts.js")
