section.primary
  ul.grid
    li
      header
        h1 Label Headline
        h2 Subheadline
    li.large
      header
        h1 Label Headline
        h2 Subheadline
    li.large
      header
        h1 Label Headline
        h2 Subheadline
    li
      header
        h1 Label Headline
        h2 Subheadline
    li.featured
      header
        h1 Label Headline
        h2 Subheadline
    li
      header
        h1 Label Headline
        h2 Subheadline
    li.large
      header
        h1 Label Headline
        h2 Subheadline
    li.large
      header
        h1 Label Headline
        h2 Subheadline
    li
      header
        h1 Label Headline
        h2 Subheadline
